* {
    background-color: #264653;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px auto;
    max-width: 600px;
}

h1,h2 {
    color: #f4a261;
    text-align: center;
}

img {
    border: 8px solid #f4a261;
    width: auto;
    max-width: 100%;
    height: auto;
}


.text-content {
    color: white;
    text-decoration: none;
}


p {
    display: inline-block;
    text-decoration: none;
    text-align: justify;
}

.box {
    list-style-type: square;
    color: white;
    list-style-position: outside;
    margin: 5px auto;
    text-align: justify;
}


.box.steps {
    list-style-type: decimal-leading-zero;
    color: white;
}


a {
    background-color: #f4a261;
    color: #000;
    text-decoration: overline;
    display: table;
    text-align: center;
}



