* {
    background-color: #264653;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1,h2 {
    color: #f4a261;
}

img {
    border: 8px solid #f4a261;
    width: 612px;
    height: auto;
}


.text-content {
    color: white;
    text-decoration: underline;
}


p {
    display: inline-block;
    text-decoration: none;
}

.box {
    list-style-type: square;
    color: white;
    list-style-position: inside;
}


.box.steps {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    color: white;
}


a {
    background-color: #f4a261;
    color: #000;
    text-decoration: overline;
}

body {
    margin: 100px;
}

